html, body, div, span, h1, h2, h3, ul, li {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#greeting {
	font-family: 'Rajdhani', sans-serif;
	text-align: center; 
	color : white;
	font-size : 3rem;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	/* text-shadow: 2px 2px 2px gray; */
	
}

#quote{
	padding-top : 50px;
	font-family: 'Nanum Brush Script', cursive;
	font-size : 30px;
	text-align: center; 
	color : blanchedalmond;
	text-shadow: 2px 2px 2px gray;
}

#todo-form {
	width : 11rem;
	margin : 0 auto;
}

#login-form {
	width : 11rem;
	margin : 0 auto;
}

input {
	color : white;
	width : 11rem;
	background-color:transparent;
}

input::placeholder {
	color : white;
	text-shadow: 2px 2px 2px gray;
}

#clock {
	padding : 200px 20px 20px 20px;
	text-align: center; 
	color : white;
	font-size: 10rem;
	font-family: 'Rajdhani', sans-serif;
	text-shadow: 2px 2px 2px black;
	margin: 0 auto;
}

ul, li {
	font-family: 'Rajdhani', sans-serif;
	color : white;
	text-align: center; 
	text-shadow: 2px 2px 2px gray;
}

button {
	border: none;
	border-radius: 6px;
	color : gray;
	border-color : snow;
}

.hidden {
    display : none;
}